<div class="ui accordion">
  <div class="title ">
    <i class="dropdown icon"></i>
    Pedidos
  </div>
  <div class="content ">
    <p><i class="folder outline icon"></i><a href="#">Estado Pedidos General</a></p>
    <p><i class="folder outline icon"></i><a href="#">Estado Pedidos Iquique</a></p>
    <p><i class="folder outline icon"></i><a href="#">Estado Pedidos OCD</a></p>
    <p><i class="folder outline icon"></i><a href="#">Facturas sin rutas</a></p>
    <p><i class="folder outline icon"></i><a href="#">Últimas ventas x SKU</a></p>
    <p><i class="folder outline icon"></i><a href="#">Últimas ventas x SKU SAP</a></p>
    <p><i class="folder outline icon"></i><a href="#">Pedidos KAM</a></p>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    Ventas
  </div>
  <div class="content">

  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    Vendedores
  </div>
  <div class="content">

  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    Logistica
  </div>
  <div class="content">

  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    Clientes
  </div>
  <div class="content"></div>

  <div class="title">
    <i class="dropdown icon"></i>
    Proveedores
  </div>
  <div class="content"></div>

  <div class="title">
    <i class="dropdown icon"></i>
    Gestores
  </div>
  <div class="content"></div>

  <div class="title">
    <i class="dropdown icon"></i>
    Directorio
  </div>
  <div class="content"></div>

  <div class="title">
    <i class="dropdown icon"></i>
    Directorio
  </div>
  <div class="content"></div>

  <div class="title">
    <i class="dropdown icon"></i>
    Business Intelligence
  </div>
  <div class="content"></div>

  <div class="title">
    <i class="dropdown icon"></i>
    Administracion
  </div>
  <div class="content"></div>

  <div class="title">
    <i class="dropdown icon"></i>
    Encuestas
  </div>
  <div class="content"></div>

</div>

